extends layout

block content
	.container-fluid.intro
		.container
			.row.justify-content-center
				.col-md-12
					h1 Quem é você na cidade?
				.col-md-8.mt-3
					p.lead Que bom que você veio! O Fora precisa te ouvir para existir. Viver a cidade, viver na cidade, viver, apesar da cidade… Eis as questões!  
					p.lead Se você mora, trabalha ou frequenta São Paulo, vem botar pra Fora o que você acha da vida na maior cidade do país. 
					p.lead Suas respostas são os primeiros passos para entender quem são, como vivem e o que demandam os moradores da grande São Paulo... para pensar diálogos e conteúdos enquanto, de quebra, o formato da pesquisa também funciona como um quiz/teste que revela “quem é você na cidade”!
					p.interval.text-danger
						small Ah, e não tem resposta errada! São só 5 minutos que vão passar voando e todas as suas respostas são confidenciais.

					a(href="/questionario")
						button.btn.btn-primary Começar
