doctype html
html
	head
		title Fora
		link(rel='stylesheet', href='/stylesheets/style.css')
			meta(name="viewport", content="width=device-width, initial-scale=1.0")
	body
		.brand.h1
			img(id="logo", src="images/logo.png")
			| / você está na pes
			span.text-primary (quiz)
			| a do Fora
		block content
		script(src="https://code.jquery.com/jquery-3.3.1.min.js", integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous")
		script(src="/javascripts/jquery.scrollintoview.min.js")
		script(src="/javascripts/jquery.correios.min.js")
		script(src="/javascripts/scrollsnap-polyfill.bundled.js")
		script(src="/javascripts/scripts.js")
