.question-wrapper.carousel-item
	.question
		.row.justify-content-center
			.col.col-sm-auto
				p.enunciado Você acha a maioria dos espaços ao ar livre de São Paulo:  
				//- p.explain Pode marcar várias!
				include ../slider-controls
.question-wrapper.carousel-item
	.question
		.row.justify-content-center
			.col-auto.arlivre
				.form-check.d-inline
					input#bonitos.oqueviveemsp.form-check-input(type="radio", value="bonitos", name="ar-livre-1")
					label.form-check-label(for="bonitos") Bonitos
				.form-check.d-inline
					input#feios.oqueviveemsp.form-check-input(type="radio", value="feios", name="ar-livre-1")
					label.form-check-label(for="feios") Feios
.question-wrapper.carousel-item
	.question
		.row.justify-content-center
			.col-auto.arlivre
				.form-check.d-inline
					input#relaxantes.oqueviveemsp.form-check-input(type="radio", value="relaxantes", name="ar-livre-2")
					label.form-check-label(for="relaxantes") Relaxantes
				.form-check.d-inline
					input#estressantes.oqueviveemsp.form-check-input(type="radio", value="estressantes", name="ar-livre-2")
					label.form-check-label(for="estressantes") Estressantes
.question-wrapper.carousel-item
	.question
		.row.justify-content-center
			.col-auto.arlivre
				.form-check.d-inline
					input#cheios.oqueviveemsp.form-check-input(type="radio", value="cheios", name="ar-livre-3")
					label.form-check-label(for="cheios") Cheios
				.form-check.d-inline
					input#vazios.oqueviveemsp.form-check-input(type="radio", value="vazios", name="ar-livre-3")
					label.form-check-label(for="vazios") Vazios
.question-wrapper.carousel-item
	.question
		.row.justify-content-center
			.col-auto.arlivre
				.form-check.d-inline
					input#restritivos.oqueviveemsp.form-check-input(type="radio", value="restritivos", name="ar-livre-4")
					label.form-check-label(for="restritivos") Restritivos
				.form-check.d-inline
					input#convidativos.oqueviveemsp.form-check-input(type="radio", value="convidativos", name="ar-livre-4")
					label.form-check-label(for="convidativos") Convidativos
.question-wrapper.carousel-item
	.question
		.row.justify-content-center
			.col-auto.arlivre
				.form-check.d-inline
					input#tranquilos.oqueviveemsp.form-check-input(type="radio", value="tranquilos", name="ar-livre-5")
					label.form-check-label(for="tranquilos") Tranquilos
				.form-check.d-inline
					input#arriscados.oqueviveemsp.form-check-input(type="radio", value="arriscados", name="ar-livre-5")
					label.form-check-label(for="arriscados") Arriscados
.question-wrapper.carousel-item
	.question
		.row.justify-content-center
			.col-auto.arlivre
				.form-check.d-inline
					input#aconchegantes.oqueviveemsp.form-check-input(type="radio", value="aconchegantes", name="ar-livre-6")
					label.form-check-label(for="aconchegantes") Aconchegantes
				.form-check.d-inline
					input#desconfortaveis.oqueviveemsp.form-check-input(type="radio", value="desconfortaveis", name="ar-livre-6")
					label.form-check-label(for="desconfortaveis") Desconfortáveis
.question-wrapper.carousel-item
	.question
		.row.justify-content-center
			.col-auto.arlivre
				.form-check.d-inline
					input#ordenados.oqueviveemsp.form-check-input(type="radio", value="ordenados", name="ar-livre-7")
					label.form-check-label(for="ordenados") Ordenados
				.form-check.d-inline
					input#desordenados.oqueviveemsp.form-check-input(type="radio", value="desordenados", name="ar-livre-7")
					label.form-check-label(for="desordenados") Desordenados
.question-wrapper.carousel-item
	.question
		.row.justify-content-center
			.col-auto.arlivre
				.form-check.d-inline
					input#limpos.oqueviveemsp.form-check-input(type="radio", value="limpos", name="ar-livre-8")
					label.form-check-label(for="limpos") Limpos
				.form-check.d-inline
					input#sujos.oqueviveemsp.form-check-input(type="radio", value="sujos", name="ar-livre-8")
					label.form-check-label(for="sujos") Sujos
.question-wrapper.carousel-item
	.question
		.row.justify-content-center
			.col-auto.arlivre
				.form-check.d-inline
					input#animados.oqueviveemsp.form-check-input(type="radio", value="animados", name="ar-livre-9")
					label.form-check-label(for="animados") Animados
				.form-check.d-inline
					input#entediantes.oqueviveemsp.form-check-input(type="radio", value="entediantes", name="ar-livre-9")
					label.form-check-label(for="entediantes") Entediantes
.question-wrapper.carousel-item
	.question
		.row.justify-content-center
			.col-auto.arlivre
				.form-check.d-inline
					input#deteriorados.oqueviveemsp.form-check-input(type="radio", value="deteriorados", name="ar-livre-10")
					label.form-check-label(for="deteriorados") Deteriorados
				.form-check.d-inline
					input#conservados.oqueviveemsp.form-check-input(type="radio", value="conservados", name="ar-livre-10")
					label.form-check-label(for="conservados") Conservados
