.img-right.img-right-intro1(style="display: block")
.question-wrapper.carousel-item.intro1.secao-1.active
	.question
		.row
			.col-md-6
				p.enunciado.big Pra existir, o Fora precisa te ouvir.
					br
					small Vem botar para Fora o que você acha da vida em São Paulo!
				.obs
					a(href="#").red Saiba mais
			.col-md-6

		include ../slider-controls