
.question-wrapper.carousel-item.intro2.secao-1
	.question
		p.enunciado.big Suas respostas vão orientar atividades artísticas e ações na paisagem urbana.
		p.enunciado.mt-5(style="font-weight: 400; font-size: 1.5rem") É rápido, confidencial e nada será usado para fins comerciais.
		a(href='#carouselExampleControls', role='button', data-slide='next')
			p.enunciado.big.vamos-comecar Vamos começar!


		include ../slider-controls