
.question-wrapper.carousel-item.intro2.secao-1
	.question
		p.enunciado.big Suas respostas vão orientar atividades artísticas e ações na paisagem urbana.
			br
			small É rápido, confidencial e nada será usado para fins comerciais.
		a(href='#carouselExampleControls', role='button', data-slide='next')
			p.enunciado.big.vamos-comecar Vamos começar!


		include ../slider-controls