.img-right.img-right-intro1(style="display: block")
.question-wrapper.carousel-item.intro1.secao-1.active
	.question
		.row
			.col-md-6.col-lg-4
				p.enunciado.big Pra existir, o Fora precisa te ouvir.
				p.enunciado.mt-5(style="font-weight: 400; font-size: 1.5rem") Vem botar para Fora o que você acha da vida em São Paulo!
				.obs
					a.saibamais(href="#") Saiba mais
			.col-md-5

	
include ../slider-controls