.question-wrapper
		.question
			p.h1 Qual seu nome e sobrenome?
			p.explain Assim evitamos confusões!
			.form-group
				input.form-control(type="text",name="name", autocomplete="name", placeholder="Nome", required)