.question-wrapper.carousel-item.active
	.question.absolute-center
		p.enunciado Qual seu nome e sobrenome?
		p.explain Sem algo para te identificar, as respostas não terão validade como pesquisa!
		.form-group
			input.form-control(type="text",name="name", autocomplete="name", placeholder="Nome", required)

		include ../slider-controls