.img-right.img-right-gender
.question-wrapper.carousel-item.gender.secao-2
	.question
		.row
			.col-md-6
				p.enunciado Com qual gênero você se identifica?
				.form-group.form-check-group.row
					.col-12
						.form-check
							input#homem.genero.form-check-input(type="radio", value="homem", name="genero")
							label.form-check-label.goToNext(for="homem") Homem
					.col-12
						.form-check
							input#mulher.genero.form-check-input(type="radio", value="mulher", name="genero")
							label.form-check-label.goToNext(for="mulher") Mulher
					.col-12
						.form-check
							input#homem-trans.genero.form-check-input(type="radio", value="homem-trans", name="genero")
							label.form-check-label.goToNext(for="homem-trans") Homem Trans
					.col-12
						.form-check
							input#mulher-trans.genero.form-check-input(type="radio", value="mulher-trans", name="genero")
							label.form-check-label.goToNext(for="mulher-trans") Mulher Trans
					.col-12
						.form-check
							input#travesti.genero.form-check-input(type="radio", value="travesti", name="genero")
							label.form-check-label.goToNext(for="travesti") Travesti
					.col-12
						.form-check
							input#nao-binario.genero.form-check-input(type="radio", value="nao-binario", name="genero")
							label.form-check-label.goToNext(for="nao-binario") Não Binário
					.col-12(style="padding-bottom: 30px")
						.form-check
							input#outro-genero.genero.form-check-input(type="radio", value="outro", name="genero")
							label.form-check-label(for="outro-genero") Nenhum, me identifico como
								input#outro-genero-input(type="text", name="genero_outro", placeholder="Nenhum desses")
			.col-md-6

		include ../slider-controls