.question-wrapper.carousel-item.secao-2
	.question.center
		p.enunciado Em que ano você nasceu?
		p.explain Digite abaixo!
		.form-group
			input.textinput.form-control.short(type="number",name="ano_nascimento", autocomplete="byear", placeholder="XXXX", pattern="[0-9]{4}", max="2010", min="1910")

		p.enunciado Onde você nasceu?
		p.explain Selecione uma opção da lista!
		.row
			.col-auto
				.form-group
					select#pais.form-control.short(name='pais')
						option(selected, disabled) País
						option(value='Brasil') Brasil
						option(value='África do Sul') África do Sul
						option(value='Albânia') Albânia
						option(value='Alemanha') Alemanha
						option(value='Andorra') Andorra
						option(value='Angola') Angola
						option(value='Anguilla') Anguilla
						option(value='Antigua') Antigua
						option(value='Arábia Saudita') Arábia Saudita
						option(value='Argentina') Argentina
						option(value='Armênia') Armênia
						option(value='Aruba') Aruba
						option(value='Austrália') Austrália
						option(value='Áustria') Áustria
						option(value='Azerbaijão') Azerbaijão
						option(value='Bahamas') Bahamas
						option(value='Bahrein') Bahrein
						option(value='Bangladesh') Bangladesh
						option(value='Barbados') Barbados
						option(value='Bélgica') Bélgica
						option(value='Benin') Benin
						option(value='Bermudas') Bermudas
						option(value='Botsuana') Botsuana
						option(value='Brunei') Brunei
						option(value='Bulgária') Bulgária
						option(value='Burkina Fasso') Burkina Fasso
						option(value='botão') botão
						option(value='Cabo Verde') Cabo Verde
						option(value='Camarões') Camarões
						option(value='Camboja') Camboja
						option(value='Canadá') Canadá
						option(value='Cazaquistão') Cazaquistão
						option(value='Chade') Chade
						option(value='Chile') Chile
						option(value='China') China
						option(value='Cidade do Vaticano') Cidade do Vaticano
						option(value='Colômbia') Colômbia
						option(value='Congo') Congo
						option(value='Coréia do Sul') Coréia do Sul
						option(value='Costa do Marfim') Costa do Marfim
						option(value='Costa Rica') Costa Rica
						option(value='Croácia') Croácia
						option(value='Dinamarca') Dinamarca
						option(value='Djibuti') Djibuti
						option(value='Dominica') Dominica
						option(value='EUA') EUA
						option(value='Egito') Egito
						option(value='El Salvador') El Salvador
						option(value='Emirados Árabes') Emirados Árabes
						option(value='Equador') Equador
						option(value='Eritréia') Eritréia
						option(value='Escócia') Escócia
						option(value='Eslováquia') Eslováquia
						option(value='Eslovênia') Eslovênia
						option(value='Espanha') Espanha
						option(value='Estônia') Estônia
						option(value='Etiópia') Etiópia
						option(value='Fiji') Fiji
						option(value='Filipinas') Filipinas
						option(value='Finlândia') Finlândia
						option(value='França') França
						option(value='Gabão') Gabão
						option(value='Gâmbia') Gâmbia
						option(value='Gana') Gana
						option(value='Geórgia') Geórgia
						option(value='Gibraltar') Gibraltar
						option(value='Granada') Granada
						option(value='Grécia') Grécia
						option(value='Guadalupe') Guadalupe
						option(value='Guam') Guam
						option(value='Guatemala') Guatemala
						option(value='Guiana') Guiana
						option(value='Guiana Francesa') Guiana Francesa
						option(value='Guiné-bissau') Guiné-bissau
						option(value='Haiti') Haiti
						option(value='Holanda') Holanda
						option(value='Honduras') Honduras
						option(value='Hong Kong') Hong Kong
						option(value='Hungria') Hungria
						option(value='Iêmen') Iêmen
						option(value='Ilhas Cayman') Ilhas Cayman
						option(value='Ilhas Cook') Ilhas Cook
						option(value='Ilhas Curaçao') Ilhas Curaçao
						option(value='Ilhas Marshall') Ilhas Marshall
						option(value='Ilhas Turks & Caicos') Ilhas Turks & Caicos
						option(value='Ilhas Virgens (brit.)') Ilhas Virgens (brit.)
						option(value='Ilhas Virgens(amer.)') Ilhas Virgens(amer.)
						option(value='Ilhas Wallis e Futuna') Ilhas Wallis e Futuna
						option(value='Índia') Índia
						option(value='Indonésia') Indonésia
						option(value='Inglaterra') Inglaterra
						option(value='Irlanda') Irlanda
						option(value='Islândia') Islândia
						option(value='Israel') Israel
						option(value='Itália') Itália
						option(value='Jamaica') Jamaica
						option(value='Japão') Japão
						option(value='Jordânia') Jordânia
						option(value='Kuwait') Kuwait
						option(value='Latvia') Latvia
						option(value='Líbano') Líbano
						option(value='Liechtenstein') Liechtenstein
						option(value='Lituânia') Lituânia
						option(value='Luxemburgo') Luxemburgo
						option(value='Macau') Macau
						option(value='Macedônia') Macedônia
						option(value='Madagascar') Madagascar
						option(value='Malásia') Malásia
						option(value='Malaui') Malaui
						option(value='Mali') Mali
						option(value='Malta') Malta
						option(value='Marrocos') Marrocos
						option(value='Martinica') Martinica
						option(value='Mauritânia') Mauritânia
						option(value='Mauritius') Mauritius
						option(value='México') México
						option(value='Moldova') Moldova
						option(value='Mônaco') Mônaco
						option(value='Montserrat') Montserrat
						option(value='Nepal') Nepal
						option(value='Nicarágua') Nicarágua
						option(value='Niger') Niger
						option(value='Nigéria') Nigéria
						option(value='Noruega') Noruega
						option(value='Nova Caledônia') Nova Caledônia
						option(value='Nova Zelândia') Nova Zelândia
						option(value='Omã') Omã
						option(value='Palau') Palau
						option(value='Panamá') Panamá
						option(value='Papua-nova Guiné') Papua-nova Guiné
						option(value='Paquistão') Paquistão
						option(value='Peru') Peru
						option(value='Polinésia Francesa') Polinésia Francesa
						option(value='Polônia') Polônia
						option(value='Porto Rico') Porto Rico
						option(value='Portugal') Portugal
						option(value='Qatar') Qatar
						option(value='Quênia') Quênia
						option(value='Rep. Dominicana') Rep. Dominicana
						option(value='Rep. Tcheca') Rep. Tcheca
						option(value='Reunion') Reunion
						option(value='Romênia') Romênia
						option(value='Ruanda') Ruanda
						option(value='Rússia') Rússia
						option(value='Saipan') Saipan
						option(value='Samoa Americana') Samoa Americana
						option(value='Senegal') Senegal
						option(value='Serra Leone') Serra Leone
						option(value='Seychelles') Seychelles
						option(value='Singapura') Singapura
						option(value='Síria') Síria
						option(value='Sri Lanka') Sri Lanka
						option(value='St. Kitts & Nevis') St. Kitts & Nevis
						option(value='St. Lúcia') St. Lúcia
						option(value='St. Vincent') St. Vincent
						option(value='Sudão') Sudão
						option(value='Suécia') Suécia
						option(value='Suiça') Suiça
						option(value='Suriname') Suriname
						option(value='Tailândia') Tailândia
						option(value='Taiwan') Taiwan
						option(value='Tanzânia') Tanzânia
						option(value='Togo') Togo
						option(value='Trinidad & Tobago') Trinidad & Tobago
						option(value='Tunísia') Tunísia
						option(value='Turquia') Turquia
						option(value='Ucrânia') Ucrânia
						option(value='Uganda') Uganda
						option(value='Uruguai') Uruguai
						option(value='Venezuela') Venezuela
						option(value='Vietnã') Vietnã
						option(value='Zaire') Zaire
						option(value='Zâmbia') Zâmbia
						option(value='Zimbábue') Zimbábue
			.col-auto
				.form-group
					select#estado.form-control.short(name="estado", style="display: none")
						option(selected, disabled) Estado
						option(value='AC') Acre
						option(value='AL') Alagoas
						option(value='AP') Amapá
						option(value='AM') Amazonas
						option(value='BA') Bahia
						option(value='CE') Ceará
						option(value='DF') Distrito Federal
						option(value='ES') Espírito Santo
						option(value='GO') Goiás
						option(value='MA') Maranhão
						option(value='MT') Mato Grosso
						option(value='MS') Mato Grosso do Sul
						option(value='MG') Minas Gerais
						option(value='PA') Pará
						option(value='PB') Paraíba
						option(value='PR') Paraná
						option(value='PE') Pernambuco
						option(value='PI') Piauí
						option(value='RJ') Rio de Janeiro
						option(value='RN') Rio Grande do Norte
						option(value='RS') Rio Grande do Sul
						option(value='RO') Rondônia
						option(value='RR') Roraima
						option(value='SC') Santa Catarina
						option(value='SP') São Paulo
						option(value='SE') Sergipe
						option(value='TO') Tocantins
		include ../slider-controls