.question-wrapper.carousel-item.secao-2
	.question
		p.enunciado Em relação à cor/etnia, como você se identifica?
		p.explain Selecione uma opção!
		.form-group.form-check-group.row
			.col-12
				.form-check
					input#asiatica.cor.form-check-input(type="radio", value="asiatica", name="cor")
					label.form-check-label.goToNext(for="asiatica") Asiática
				.form-check
					input#branca.cor.form-check-input(type="radio", value="branca", name="cor")
					label.form-check-label.goToNext(for="branca") Branca
				.form-check
					input#preta.cor.form-check-input(type="radio", value="preta-negra", name="cor")
					label.form-check-label.goToNext(for="preta") Negra  / Preta
				.form-check
					input#indigena.cor.form-check-input(type="radio", value="indigena", name="cor")
					label.form-check-label.goToNext(for="indigena") Indígena / Povos Originários
				.form-check
					input#oriente-medio.cor.form-check-input(type="radio", value="oriente-medio", name="cor")
					label.form-check-label.goToNext(for="oriente-medio") Oriente Médio e/ou Norte da África
				.form-check
					input#outra-cor.cor.form-check-input(type="radio", value="outro", name="cor")
					label.form-check-label(for="outra-cor") Nenhum desses, me identifico como:
						input#outra-cor-input.form-control(type="text", name="cor_outra", placeholder="Outra")
		include ../slider-controls