.question-wrapper
	.question
		p.enunciado Em relação à cor/etnia, como você se identifica?
		.form-group.form-group-check
			.form-check
				input#preta.cor.form-check-input(type="radio", value="preta", name="cor", required)
				label.form-check-label(for="preta") Preto(a)
			.form-check
				input#parda.cor.form-check-input(type="radio", value="parda", name="cor", required)
				label.form-check-label(for="parda") Pardo(a)
			.form-check
				input#branca.cor.form-check-input(type="radio", value="branca", name="cor", required)
				label.form-check-label(for="branca") Branco(a)
			.form-check
				input#indigena.cor.form-check-input(type="radio", value="indigena", name="cor", required)
				label.form-check-label(for="indigena") Indígena
			.form-check
				input#amarela.cor.form-check-input(type="radio", value="amarela", name="cor", required)
				label.form-check-label(for="amarela") Amarelo(a)
			.form-check
				input#outra_cor.cor.form-check-input(type="radio", value="outro", name="cor", required)
				label.form-check-label(for="outra_cor")
					input#outra_cor_input.form-control(type="text", name="cor_outra", placeholder="Outra")