.question-wrapper.carousel-item.secao-2
	.question.center
		p.enunciado Qual é sua fé?
		p.explain Selecione uma opção abaixo! Indique a que considera a principal, caso se identifique com mais de uma.
		.form-group.form-check-group
			.row
				.col-sm-6
					.form-check
						input#sem-religiao.religiao.form-check-input(type="radio", value="sem-religiao", name="religiao", required)
						label.form-check-label(for="sem-religiao") Sem Religião
							.explain (agnósticos/as, ateus/ateia, e outros céticos)
					.form-check
						input#budista-hinduista.religiao.form-check-input(type="radio", value="budista-hinduista", name="religiao", required)
						label.form-check-label(for="budista-hinduista") Budista / Hinduísta
							.explain (ou outras orientais)
					.form-check
						input#catolica.religiao.form-check-input(type="radio", value="catolica", name="religiao", required)
						label.form-check-label(for="catolica") Católica
					.form-check
						input#espirita.religiao.form-check-input(type="radio", value="espirita", name="religiao", required)
						label.form-check-label(for="espirita") Espírita
					.form-check
						input#evangelica.religiao.form-check-input(type="radio", value="evangelica", name="religiao", required)
						label.form-check-label(for="evangelica") Evangélica
				.col-sm-6
					.form-check
						input#judaica.religiao.form-check-input(type="radio", value="judaica", name="religiao", required)
						label.form-check-label(for="judaica") Judaica
					.form-check
						input#matriz_africana.religiao.form-check-input(type="radio", value="matriz_africana", name="religiao", required)
						label.form-check-label(for="matriz_africana") Matriz Africana
							.explain (candomblecistas, umbandistas ou outras afrobrasileiras)
					.form-check
						input#muculmana.religiao.form-check-input(type="radio", value="muculmana", name="religiao", required)
						label.form-check-label(for="muculmana") Muçulmana
					.form-check
						input#tradicional.religiao.form-check-input(type="radio", value="tradicional", name="religiao", required)
						label.form-check-label(for="tradicional") Tradicional
							.explain (de povos originários brasileiros)
					.form-check
						input#outra-religiao.religiao.form-check-input(type="radio", value="outro", name="religiao", required)
						label.form-check-label(for="outra-religiao") Outra
							input#outra-religiao-input.form-control(type="text", name="religiao_outra", placeholder="Qual?")
		include ../slider-controls