.question-wrapper
	.question
		p.h1 Qual é sua fé?
		.form-group.form-group-check
			.form-check
				input#catolica.religiao.form-check-input(type="radio", value="catolica", name="religiao", required)
				label.form-check-label(for="catolica") Católica
			.form-check
				input#evangelica.religiao.form-check-input(type="radio", value="evangelica", name="religiao", required)
				label.form-check-label(for="evangelica") Evangélica
			.form-check
				input#espirita.religiao.form-check-input(type="radio", value="espirita", name="religiao", required)
				label.form-check-label(for="espirita") Espírita
			.form-check
				input#judaica.religiao.form-check-input(type="radio", value="judaica", name="religiao", required)
				label.form-check-label(for="judaica") Judaica
			.form-check
				input#muculmana.religiao.form-check-input(type="radio", value="muculmana", name="religiao", required)
				label.form-check-label(for="muculmana") Muçulmana
			.form-check
				input#matriz_africana.religiao.form-check-input(type="radio", value="matriz_africana", name="religiao", required)
				label.form-check-label(for="matriz_africana") Matriz Africana
			.form-check
				input#agnostica.religiao.form-check-input(type="radio", value="agnostica", name="religiao", required)
				label.form-check-label(for="agnostica") Agnóstica
			.form-check
				input#ateia.religiao.form-check-input(type="radio", value="ateia", name="religiao", required)
				label.form-check-label(for="ateia") Ateia
			.form-check
				input#outra_religiao.religiao.form-check-input(type="radio", value="outro", name="religiao", required)
				label.form-check-label(for="outra_religião")
					input#outra_religiao_input.form-control(type="text", name="religiao_outra", placeholder="Outra")