.question-wrapper.carousel-item(ng-controller="CEP")
	.question
		p.enunciado Qual seu CEP? 
		p.explain Não se preocupe, não é possível saber onde você mora pelo CEP! Na pesquisa, ele serve apenas para saber aproximadamente em que área da cidade você mora!
		.form-group
				label.form-control-label(for="cep") Sim, meu CEP é:
				input#cep.form-control(type="text", name="cep", placeholder="Outra")
				div#naosei_cep.btn.btn-info.btn-sm(data-toggle="modal", data-target="#cep-modal") Não sei meu CEP
		.form-group
				label.form-control-label(for="cep-radio") Não tenho CEP, mas moro em:
				input#nao-tenho-cep.form-control(type="text", name="nao-tenho-cep", placeholder="Outra")
		include ../slider-controls
div#cep-modal.modal(tabindex="-1", role="dialog", aria-hidden="true", ng-controller="CEP")
	div.modal-dialog.modal-dialog-centered(role="document")
		div.modal-content
			div.modal-body
				.form-control
					h5 Rua
					input#rua-cep
				.form-control
					h5 Cidade
					input#cidade-cep
				.form-control
					h5 Estado
					input#estado-cep
				.form-control
					div.btn.btn-primary(ng-click="buscaCep()") GO