.question-wrapper.carousel-item
	.question
		p.enunciado Na sua experiência, você relaciona a cidade de São Paulo com:  
		p.explain Pode marcar várias!
		.row
			.col-12.col-sm-4
				.form-check
					input#qualidade-de-vida.oqueviveemsp.form-check-input(type="checkbox", value="qualidade-de-vida", name="o-que-vive-em-sp")
					label.form-check-label(for="qualidade-de-vida") Qualidade de Vida
				.form-check
					input#diversidade.oqueviveemsp.form-check-input(type="checkbox", value="diversidade", name="o-que-vive-em-sp")
					label.form-check-label(for="diversidade") Diversidade
				.form-check
					input#pressa.oqueviveemsp.form-check-input(type="checkbox", value="pressa", name="o-que-vive-em-sp")
					label.form-check-label(for="pressa") Pressa
				.form-check
					input#adaptacao.oqueviveemsp.form-check-input(type="checkbox", value="adaptacao", name="o-que-vive-em-sp")
					label.form-check-label(for="adaptacao") Adaptação
				.form-check
					input#estranhamento.oqueviveemsp.form-check-input(type="checkbox", value="estranhamento", name="o-que-vive-em-sp")
					label.form-check-label(for="estranhamento") Estranhamento
			.col-12.col-sm-4
				.form-check
					input#oportunidade.oqueviveemsp.form-check-input(type="checkbox", value="oportunidade", name="o-que-vive-em-sp")
					label.form-check-label(for="oportunidade") Oportunidade
				.form-check
					input#liberdade.oqueviveemsp.form-check-input(type="checkbox", value="liberdade", name="o-que-vive-em-sp")
					label.form-check-label(for="liberdade") Liberdade
				.form-check
					input#indiferenca.oqueviveemsp.form-check-input(type="checkbox", value="indiferenca", name="o-que-vive-em-sp")
					label.form-check-label(for="indiferenca") Indiferença
				.form-check
					input#solidao.oqueviveemsp.form-check-input(type="checkbox", value="solidao", name="o-que-vive-em-sp")
					label.form-check-label(for="solidao") Solidão
				.form-check
					input#resistencia.oqueviveemsp.form-check-input(type="checkbox", value="resistencia", name="o-que-vive-em-sp")
					label.form-check-label(for="resistencia") Resistência
			.col-12.col-sm-4
				.form-check
					input#diversao.oqueviveemsp.form-check-input(type="checkbox", value="diversao", name="o-que-vive-em-sp")
					label.form-check-label(for="diversao") Diversão
				.form-check
					input#repressao.oqueviveemsp.form-check-input(type="checkbox", value="repressao", name="o-que-vive-em-sp")
					label.form-check-label(for="repressao") Repressão
				.form-check
					input#desigualdade.oqueviveemsp.form-check-input(type="checkbox", value="desigualdade", name="o-que-vive-em-sp")
					label.form-check-label(for="desigualdade") Desigualdade
				.form-check
					input#caos.oqueviveemsp.form-check-input(type="checkbox", value="caos", name="o-que-vive-em-sp")
					label.form-check-label(for="caos") Caos
				.form-check
					input#dor.oqueviveemsp.form-check-input(type="checkbox", value="dor", name="o-que-vive-em-sp")
					label.form-check-label(for="dor") Dor
			.col-12
				.form-group
					label.form-control-label.text-primary Outras vivências em uma palavra? Quais?
					input.form-control(name="o-que-vive-em-sp")
		include ../slider-controls