.question-wrapper.carousel-item.secao-3
	.question
		p.enunciado Você relaciona os espaços públicos* de São Paulo com:
		p.explain Pode selecionar até três opções!
		.row.form-check-group
			.col-6.col-sm-4
				.form-check
					input#bem-estar.oqueviveemsp.form-check-input(type="checkbox", value="Bem Estar", name="o-que-vive-em-sp")
					label.form-check-label(for="bem-estar") Bem Estar
				.form-check
					input#diversidade.oqueviveemsp.form-check-input(type="checkbox", value="diversidade", name="o-que-vive-em-sp")
					label.form-check-label(for="diversidade") Diversidade
				.form-check
					input#estresse.oqueviveemsp.form-check-input(type="checkbox", value="Estresse", name="o-que-vive-em-sp")
					label.form-check-label(for="estresse") Estresse
				.form-check
					input#desordem.oqueviveemsp.form-check-input(type="checkbox", value="Desordem", name="o-que-vive-em-sp")
					label.form-check-label(for="desordem") Desordem
				.form-check
					input#relaxamento.oqueviveemsp.form-check-input(type="checkbox", value="Relaxamento", name="o-que-vive-em-sp")
					label.form-check-label(for="relaxamento") Relaxamento
				.form-check
					input#tedio.oqueviveemsp.form-check-input(type="checkbox", value="Tédio", name="o-que-vive-em-sp")
					label.form-check-label(for="tedio") Tédio
			.col-6.col-sm-4
				.form-check
					input#socializacao.oqueviveemsp.form-check-input(type="checkbox", value="Socialização", name="o-que-vive-em-sp")
					label.form-check-label(for="socializacao") Socialização
				.form-check
					input#liberdade.oqueviveemsp.form-check-input(type="checkbox", value="liberdade", name="o-que-vive-em-sp")
					label.form-check-label(for="liberdade") Liberdade
				.form-check
					input#indiferenca.oqueviveemsp.form-check-input(type="checkbox", value="indiferenca", name="o-que-vive-em-sp")
					label.form-check-label(for="indiferenca") Indiferença
				.form-check
					input#exclusao.oqueviveemsp.form-check-input(type="checkbox", value="Exclusão", name="o-que-vive-em-sp")
					label.form-check-label(for="exclusao") Exclusão
				.form-check
					input#resistencia.oqueviveemsp.form-check-input(type="checkbox", value="resistencia", name="o-que-vive-em-sp")
					label.form-check-label(for="resistencia") Resistência
				.form-check
					input#inseguranca.oqueviveemsp.form-check-input(type="checkbox", value="Insegurança", name="o-que-vive-em-sp")
					label.form-check-label(for="inseguranca") Insegurança
			.col-6.col-sm-4
				.form-check
					input#diversao.oqueviveemsp.form-check-input(type="checkbox", value="diversao", name="o-que-vive-em-sp")
					label.form-check-label(for="diversao") Diversão
				.form-check
					input#repressao.oqueviveemsp.form-check-input(type="checkbox", value="repressao", name="o-que-vive-em-sp")
					label.form-check-label(for="repressao") Repressão
				.form-check
					input#descaso.oqueviveemsp.form-check-input(type="checkbox", value="Descaso", name="o-que-vive-em-sp")
					label.form-check-label(for="descaso") Descaso
				.form-check
					input#oquevive-outro.oqueviveemsp.form-check-input(type="checkbox", value="outro", name="o-que-vive-em-sp")
					label.form-control-label(for="oquevive-outro") Outras vivências em uma palavra?
						input#oquevive-outro-input.form-control(name="o-que-vive-em-sp", placeholder="Quais?")
		include ../slider-controls