.question-wrapper
	.question
		p.enunciado Quais dos problemas abaixo você enfrenta para circular na cidade?    
		p.explain Marque tudo que quiser!
		.row
			.col-6
				.form-check
					input#altos-precos.problemas-cidade.form-check-input(type="checkbox", value="altos-precos", name="problemas-cidade")
					label.form-check-label(for="altos-precos") Altos preços
					span.explain  do transporte (passagens, combustível, estacionamento Uber/táxi)
				.form-check
					input#assedio.problemas-cidade.form-check-input(type="checkbox", value="assedio", name="problemas-cidade")
					label.form-check-label(for="assedio") Assédio
				.form-check
					input#falta-de-linhas.problemas-cidade.form-check-input(type="checkbox", value="falta-de-linhas", name="problemas-cidade")
					label.form-check-label(for="falta-de-linhas") Falta de linhas
				.form-check
					input#furto-ou-assalto.problemas-cidade.form-check-input(type="checkbox", value="furto-ou-assalto", name="problemas-cidade")
					label.form-check-label(for="furto-ou-assalto") Furtos ou assaltos
				.form-check
					input#distancia-tempo.problemas-cidade.form-check-input(type="checkbox", value="distancia-tempo", name="problemas-cidade")
					label.form-check-label(for="distancia-tempo") Longa distância e/ou tempo
				.form-check
					input#lotacao.problemas-cidade.form-check-input(type="checkbox", value="lotacao", name="problemas-cidade")
					label.form-check-label(for="lotacao") Lotação
			.col-6
				.form-check
					input#preguica.problemas-cidade.form-check-input(type="checkbox", value="preguica", name="problemas-cidade")
					label.form-check-label(for="preguica") Preguiça
				.form-check
					input#atropelamento-acidentes.problemas-cidade.form-check-input(type="checkbox", value="atropelamento-acidentes", name="problemas-cidade")
					label.form-check-label(for="atropelamento-acidentes") Risco de atropelamento e/ou acidentes
				.form-check
					input#transito.problemas-cidade.form-check-input(type="checkbox", value="transito", name="problemas-cidade")
					label.form-check-label(for="transito") Trânsito
				.form-check
					input#locais-para-estacionar.problemas-cidade.form-check-input(type="checkbox", value="locais-para-estacionar", name="problemas-cidade")
					label.form-check-label(for="locais-para-estacionar") Falta de locais para estacionar
				.form-check
					input#qualidade-calcada.problemas-cidade.form-check-input(type="checkbox", value="qualidade-calcada", name="problemas-cidade")
					label.form-check-label(for="qualidade-calcada") Falta ou má qualidade de calçadas
				.form-check
					input#sem-problemas.problemas-cidade.form-check-input(type="checkbox", value="sem-problemas", name="problemas-cidade")
					label.form-check-label(for="sem-problemas") Não tenho problema algum
			.col-12
			.form-group
				label.form-control-label.text-primary Outros? Quais?
				input.form-control(name="problemas-cidade")