.question-wrapper.carousel-item.secao-2
	.question
		p.enunciado Como você acessa informações sobre o que está acontecendo na cidade?  
		.row.form-check-group
			.col-12.col-sm-6
				.form-check
					input#whatsapp.acesso-informacao.form-check-input(type="checkbox", value="whatsapp", name="acesso-informacao")
					label.form-check-label(for="whatsapp") WhatsApp
				.form-check
					input#instagram.acesso-informacao.form-check-input(type="checkbox", value="instagram", name="acesso-informacao")
					label.form-check-label(for="instagram") Instagram
				.form-check
					input#youtube.acesso-informacao.form-check-input(type="checkbox", value="youtube", name="acesso-informacao")
					label.form-check-label(for="youtube") Youtube
				.form-check
					input#jornal-gratuito.acesso-informacao.form-check-input(type="checkbox", value="jornal-gratuito", name="acesso-informacao")
					label.form-check-label(for="jornal-gratuito") Jornal impresso gratuito
				.form-check
					input#sites-de-noticias.acesso-informacao.form-check-input(type="checkbox", value="sites-de-noticias", name="acesso-informacao")
					label.form-check-label(for="sites-de-noticias") Sites de notícias
				.form-check
					input#tv-aberta.acesso-informacao.form-check-input(type="checkbox", value="tv-aberta", name="acesso-informacao")
					label.form-check-label(for="tv-aberta") TV aberta
				.form-check
					input#tv-paga.acesso-informacao.form-check-input(type="checkbox", value="tv-paga", name="acesso-informacao")
					label.form-check-label(for="tv-paga") TV paga
				.form-check
					input#facebook.acesso-informacao.form-check-input(type="checkbox", value="facebook", name="acesso-informacao")
					label.form-check-label(for="facebook") Facebook
			.col-12.col-sm-6
				.form-check
					input#twitter.acesso-informacao.form-check-input(type="checkbox", value="twitter", name="acesso-informacao")
					label.form-check-label(for="twitter") Twitter
				.form-check
					input#jornal-pago.acesso-informacao.form-check-input(type="checkbox", value="jornal-pago", name="acesso-informacao")
					label.form-check-label(for="jornal-pago") Jornal impresso pago
				.form-check
					input#revistas.acesso-informacao.form-check-input(type="checkbox", value="revistas", name="acesso-informacao")
					label.form-check-label(for="revistas") Revistas
				.form-check
					input#radio.acesso-informacao.form-check-input(type="checkbox", value="radio", name="acesso-informacao")
					label.form-check-label(for="radio") Rádio
				.form-check
					input#podcast.acesso-informacao.form-check-input(type="checkbox", value="podcast", name="acesso-informacao")
					label.form-check-label(for="podcast") Podcast
				.form-check
					input#familiares-amigos.acesso-informacao.form-check-input(type="checkbox", value="familiares-amigos", name="acesso-informacao")
					label.form-check-label(for="familiares-amigos") Com familiares, amigos, colegas de trabalho, etc.
				.form-check
					input#acesso-outro.acesso-informacao.form-check-input(type="checkbox", value="acesso-outro", name="acesso-informacao")
					label.form-check-label(for="acesso-outro") Outros
						input#acesso-outro-input.form-control(name="acesso-informacao-outro", placeholder="Quais?")
		include ../slider-controls