.question-wrapper.carousel-item
	.question.frequencia
		p.enunciado Com que frequência você vive as situações abaixo quando sai para curtir a cidade?
		.row
			.col-12.col-md-6
				p.sub-enunciado Fico com receio de novos programas, prefiro não me arriscar
				.form-check.d-inline
					input#sempre1.form-check-input(type="radio", value="sempre", name="prefiro-nao-arriscar")
					label.form-check-label(for="sempre1") Sempre
				.form-check.d-inline
					input#as-vezes1.form-check-input(type="radio", value="as-vezes", name="prefiro-nao-arriscar")
					label.form-check-label(for="as-vezes1") Às vezes
				.form-check.d-inline
					input#nunca1.form-check-input(type="radio", value="nunca", name="prefiro-nao-arriscar")
					label.form-check-label(for="nunca1") Nunca
			.col-12.col-md-6
				p.sub-enunciado Sofro com racismo, machismo, homofobia e outras discriminações
				.form-check.d-inline
					input#sempre2.form-check-input(type="radio", value="sempre", name="sofro-discriminacao")
					label.form-check-label(for="sempre2") Sempre
				.form-check.d-inline
					input#as-vezes2.form-check-input(type="radio", value="as-vezes", name="sofro-discriminacao")
					label.form-check-label(for="as-vezes2") Às vezes
				.form-check.d-inline
					input#nunca2.form-check-input(type="radio", value="nunca", name="sofro-discriminacao")
					label.form-check-label(for="nunca2") Nunca
			.col-12.col-md-6
				p.sub-enunciado Tenho acessibilidade física para aproveitar espaços e programações
				.form-check.d-inline
					input#sempre3.form-check-input(type="radio", value="sempre", name="tenho-acessibilidade")
					label.form-check-label(for="sempre3") Sempre
				.form-check.d-inline
					input#as-vezes3.form-check-input(type="radio", value="as-vezes", name="tenho-acessibilidade")
					label.form-check-label(for="as-vezes3") Às vezes
				.form-check.d-inline
					input#nunca3.form-check-input(type="radio", value="nunca", name="tenho-acessibilidade")
					label.form-check-label(for="nunca3") Nunca
			.col-12.col-md-6
				p.sub-enunciado Tenho grana para fazer os programas que eu gostaria
				.form-check.d-inline
					input#sempre4.form-check-input(type="radio", value="sempre", name="tenho-grana")
					label.form-check-label(for="sempre4") Sempre
				.form-check.d-inline
					input#as-vezes4.form-check-input(type="radio", value="as-vezes", name="tenho-grana")
					label.form-check-label(for="as-vezes4") Às vezes
				.form-check.d-inline
					input#nunca4.form-check-input(type="radio", value="nunca", name="tenho-grana")
					label.form-check-label(for="nunca4") Nunca
			.col-12.col-md-6
				p.sub-enunciado Passo por tensões e repressões de autoridades ou outros atores locais
				.form-check.d-inline
					input#sempre6.form-check-input(type="radio", value="sempre", name="sofro-tensoes-e-repressoes")
					label.form-check-label(for="sempre6") Sempre
				.form-check.d-inline
					input#as-vezes6.form-check-input(type="radio", value="as-vezes", name="sofro-tensoes-e-repressoes")
					label.form-check-label(for="as-vezes6") Às vezes
				.form-check.d-inline
					input#nunca6.form-check-input(type="radio", value="nunca", name="sofro-tensoes-e-repressoes")
					label.form-check-label(for="nunca6") Nunca
			.col-12.col-md-6
				p.sub-enunciado Vivo encontros, surpresas e novidades agradáveis 
				.form-check.d-inline
					input#sempre7.form-check-input(type="radio", value="sempre", name="vivo-encontros")
					label.form-check-label(for="sempre7") Sempre
				.form-check.d-inline
					input#as-vezes7.form-check-input(type="radio", value="as-vezes", name="vivo-encontros")
					label.form-check-label(for="as-vezes7") Às vezes
				.form-check.d-inline
					input#nunca7.form-check-input(type="radio", value="nunca", name="vivo-encontros")
					label.form-check-label(for="nunca7") Nunca
		include ../slider-controls