.img-right.img-right-freq
.question-wrapper.carousel-item.secao-3.freq.quemmoratrabalhaestuda
	.question
		.row
			.col-md-6
				p.enunciado Nos últimos três meses, com que frequência você saiu para curtir* a cidade de São Paulo?
				.form-group.form-check-group
					.form-check
						input#quase-todo-dia.frequencia-lazer.form-check-input(type="radio", value="5 a 7", name="frequencia-lazer", required)
						label.frequencia-lazer-label.form-check-label.frequencia-lazer-label(for="quase-todo-dia") 5 a 7 vezes por semana
					.form-check
						input#finais-de-semana.frequencia-lazer.form-check-input(type="radio", value="2 a 4", name="frequencia-lazer", required)
						label.frequencia-lazer-label.form-check-label.frequencia-lazer-label(for="finais-de-semana") 2 a 4 vezes por semana
					.form-check
						input#saio-pouco.frequencia-lazer.form-check-input(type="radio", value="1 por semana", name="frequencia-lazer", required)
						label.frequencia-lazer-label.form-check-label.frequencia-lazer-label(for="saio-pouco") Uma vez por semana
					.form-check
						input#saio-muito-pouco.frequencia-lazer.form-check-input(type="radio", value="1 a cada 2 semanas", name="frequencia-lazer", required)
						label.frequencia-lazer-label.form-check-label.frequencia-lazer-label(for="saio-muito-pouco") Uma vez a cada duas semanas
					.form-check
						input#saio-muito-pouco-mesmo.frequencia-lazer.form-check-input(type="radio", value="1 por mes ou menos", name="frequencia-lazer", required)
						label.frequencia-lazer-label.form-check-label.frequencia-lazer-label(for="saio-muito-pouco-mesmo") 1 vez por mês ou menos
				
				.obs * Tempo livre, atividades sociais, culturais, esportivas, lazer, etc.
		include ../slider-controls