.question-wrapper.carousel-item.secao-1.abre
	.question
		p.enunciado.red Qual a relevância dos espaços públicos* para sua vida na cidade?
		.form-check-bar.row
			.col
				.form-check
					input#nenhuma.form-check-input(type="radio",name="relevancia", value="nenhuma")
					label.form-check-label.goToNext(for="nenhuma") Nenhuma
			.col
				.form-check
					input#pouca.form-check-input(type="radio",name="relevancia", value="pouca")
					label.form-check-label.goToNext(for="pouca") Pouca
			.col
				.form-check
					input#media.form-check-input(type="radio",name="relevancia", value="media")
					label.form-check-label.goToNext(for="media") Média
			.col
				.form-check
					input#muita.form-check-input(type="radio",name="relevancia", value="muita")
					label.form-check-label.goToNext(for="muita") Muita
			.col
				.form-check
					input#toda.form-check-input(type="radio",name="relevancia", value="toda")
					label.form-check-label.goToNext(for="toda") Toda
		.check-bar
			label.progress-label.goToNext(for="nenhuma")
			label.progress-label.goToNext(for="pouca")
			label.progress-label.goToNext(for="media")
			label.progress-label.goToNext(for="muita")
			label.progress-label.goToNext(for="toda")
			#check-bar-progress
		.obs
			p * Espaços de acesso e uso público para encontros e convívio: ruas, praças, parques, calçadas, áreas verdes, etc.


		include ../slider-controls