.question-wrapper.carousel-item.secao-3.quemmora
	.question
		p.enunciado Qual é o espaço público* que você frequenta mais perto da sua casa?
		p.explain Pode escrever como você chama o local, não precisa saber o nome oficial!
		.form-group
			input.form-control(type="text",name="espaco-proximo-casa",placeholder="|")
		.obs
			p * Espaços de acesso e uso público para encontros e convívio: ruas, praças, parques, calçadas, áreas verdes, passagens, etc.
		include ../slider-controls