.question-wrapper.carousel-item.secao-3.quemmora
	.question
		p.enunciado Qual é o espaço público* que você frequenta mais perto da sua casa?
		.form-group
			input.form-control(type="text",name="espaco-proximo-casa")
		include ../slider-controls