.question-wrapper.carousel-item.secao-3.quemmora
	.question
		p.enunciado Na sua opinião, o que você faria para melhorar esse espaço público* perto da sua casa?
		p.explain Pode marcar várias!
		.row.form-check-group
			.col-6.col-sm-4
				.form-check
					input#casa-melhorarinfra.melhora-espaco-casa.form-check-input(type="checkbox", value="Melhorar infraestrutura do espaço", name="melhora-espaco-casa")
					label.form-check-label(for="casa-melhorarinfra") Melhorar infraestrutura do espaço
				.form-check
					input#casa-cercar-grades.melhora-espaco-casa.form-check-input(type="checkbox", value="Cercar com grades", name="melhora-espaco-casa")
					label.form-check-label(for="casa-cercar-grades") Cercar com grades
				.form-check
					input#casa-net-gratis.melhora-espaco-casa.form-check-input(type="checkbox", value="Ter internet grátis", name="melhora-espaco-casa")
					label.form-check-label(for="casa-net-gratis") Ter internet grátis
				.form-check
					input#casa-plantararvores.melhora-espaco-casa.form-check-input(type="checkbox", value="Plantar árvores/plantas", name="melhora-espaco-casa")
					label.form-check-label(for="casa-plantararvores") Plantar árvores/plantas
				.form-check
					input#casa-bebedouros.melhora-espaco-casa.form-check-input(type="checkbox", value="Bebedouros, bicas e/ou fontes", name="melhora-espaco-casa")
					label.form-check-label(for="casa-bebedouros") Bebedouros, bicas e/ou fontes
				.form-check
					input#casa-iluminacao.melhora-espaco-casa.form-check-input(type="checkbox", value="Iluminação pública", name="melhora-espaco-casa")
					label.form-check-label(for="casa-iluminacao") Iluminação pública
			.col-6.col-sm-4
				.form-check
					input#casa-oferta-cultural.melhora-espaco-casa.form-check-input(type="checkbox", value="Mais oferta de atividades culturais", name="melhora-espaco-casa")
					label.form-check-label(for="casa-oferta-cultural") Mais oferta de atividades culturais
				.form-check
					input#casa-coleta-lixo.melhora-espaco-casa.form-check-input(type="checkbox", value="Coleta de lixo", name="melhora-espaco-casa")
					label.form-check-label(for="casa-coleta-lixo") Coleta de lixo
				.form-check
					input#casa-ligares-conf.melhora-espaco-casa.form-check-input(type="checkbox", value="Ter lugares confortáveis para aproveitar em grupo", name="melhora-espaco-casa")
					label.form-check-label(for="casa-ligares-conf") Ter lugares confortáveis para aproveitar em grupo
				.form-check
					input#casa-manutencao.melhora-espaco-casa.form-check-input(type="checkbox", value="Manutenção mais frequente", name="melhora-espaco-casa")
					label.form-check-label(for="casa-manutencao") Manutenção mais frequente
				.form-check
					input#casa-aparelhos.melhora-espaco-casa.form-check-input(type="checkbox", value="Instalar aparelhos e áreas específicas para crianças, idosos, academias, pistas, quadras, animais e/ou outros ", name="melhora-espaco-casa")
					label.form-check-label(for="casa-aparelhos") Instalar aparelhos e áreas específicas para crianças, idosos, academias, pistas, quadras, animais e/ou outros 
			.col-6.col-sm-4
				.form-check
					input#casa-proibir-festas.melhora-espaco-casa.form-check-input(type="checkbox", value="Proibir festas, sons ou atividades (todas ou algumas)", name="melhora-espaco-casa")
					label.form-check-label(for="casa-proibir-festas") Proibir festas, sons ou atividades (todas ou algumas)
				.form-check
					input#casa-tirar-grade.melhora-espaco-casa.form-check-input(type="checkbox", value="Tirar grades ou barreiras de acesso ao espaço", name="melhora-espaco-casa")
					label.form-check-label(for="casa-tirar-grade") Tirar grades ou barreiras de acesso ao espaço
				.form-check
					input#casa-mais-comercio.melhora-espaco-casa.form-check-input(type="checkbox", value="Mais feiras e pontos de comércio", name="melhora-espaco-casa")
					label.form-check-label(for="casa-mais-comercio") Mais feiras e pontos de comércio
				.form-check
					input#melhoraespacocasa-outro.melhora-espaco-casa.form-check-input(type="checkbox", value="outro", name="melhora-espaco-casa")
					label.form-control-label(for="melhoraespacocasa-outro") Outras vivências em uma palavra?
						input#melhoraespacocasa-outro-input.form-control(name="melhora-espaco-casa", placeholder="Quais?")
		include ../slider-controls