.img-right.img-right-qualoespaco
.question-wrapper.carousel-item.secao-3.qualoespaco.quemtrabalhaestuda
	.question
		.row
			.col-md-6.col-lg-4
				p.enunciado Qual é o espaço público* que você frequenta mais perto do seu local de trabalho ou estudo?
				p.explain Pode escrever como você chama o local, não precisa saber o nome oficial!
				.form-group
					input.textinput.form-control(type="text",name="espaco-proximo-trabalho-estudo")
				.obs
					p * Espaços de acesso e uso público para encontros e convívio: ruas, praças, parques, calçadas, áreas verdes, passagens, etc.
		include ../slider-controls