.question-wrapper.carousel-item.secao-3.quemtrabalhaestuda
	.question
		p.enunciado Qual é o espaço público* que você frequenta mais perto do seu local de trabalho ou estudo?
		.form-group
			input.form-control(type="text",name="espaco-proximo-trabalho-estudo")
		include ../slider-controls