.question-wrapper.carousel-item.secao-3.quemtrabalhaestuda
	.question
		p.enunciado Na sua opinião, o que você faria para melhorar esse espaço público* perto do seu local de trabalho ou estudo?
		p.explain Pode marcar várias!
		.row.form-check-group
			.col-6.col-sm-4
				.form-check
					input#trabalho-estudo-melhorarinfra.melhora-espaco-trabalho-estudo.form-check-input(type="checkbox", value="Melhorar infraestrutura do espaço", name="melhora-espaco-trabalho-estudo")
					label.form-check-label(for="trabalho-estudo-melhorarinfra") Melhorar infraestrutura do espaço
				.form-check
					input#trabalho-estudo-cercar-grades.melhora-espaco-trabalho-estudo.form-check-input(type="checkbox", value="Cercar com grades", name="melhora-espaco-trabalho-estudo")
					label.form-check-label(for="trabalho-estudo-cercar-grades") Cercar com grades
				.form-check
					input#trabalho-estudo-net-gratis.melhora-espaco-trabalho-estudo.form-check-input(type="checkbox", value="Ter internet grátis", name="melhora-espaco-trabalho-estudo")
					label.form-check-label(for="trabalho-estudo-net-gratis") Ter internet grátis
				.form-check
					input#trabalho-estudo-plantararvores.melhora-espaco-trabalho-estudo.form-check-input(type="checkbox", value="Plantar árvores/plantas", name="melhora-espaco-trabalho-estudo")
					label.form-check-label(for="trabalho-estudo-plantararvores") Plantar árvores/plantas
				.form-check
					input#trabalho-estudo-bebedouros.melhora-espaco-trabalho-estudo.form-check-input(type="checkbox", value="Bebedouros, bicas e/ou fontes", name="melhora-espaco-trabalho-estudo")
					label.form-check-label(for="trabalho-estudo-bebedouros") Bebedouros, bicas e/ou fontes
				.form-check
					input#trabalho-estudo-iluminacao.melhora-espaco-trabalho-estudo.form-check-input(type="checkbox", value="Iluminação pública", name="melhora-espaco-trabalho-estudo")
					label.form-check-label(for="trabalho-estudo-iluminacao") Iluminação pública
			.col-6.col-sm-4
				.form-check
					input#trabalho-estudo-oferta-cultural.melhora-espaco-trabalho-estudo.form-check-input(type="checkbox", value="Mais oferta de atividades culturais", name="melhora-espaco-trabalho-estudo")
					label.form-check-label(for="trabalho-estudo-oferta-cultural") Mais oferta de atividades culturais
				.form-check
					input#trabalho-estudo-coleta-lixo.melhora-espaco-trabalho-estudo.form-check-input(type="checkbox", value="Coleta de lixo", name="melhora-espaco-trabalho-estudo")
					label.form-check-label(for="trabalho-estudo-coleta-lixo") Coleta de lixo
				.form-check
					input#trabalho-estudo-ligares-conf.melhora-espaco-trabalho-estudo.form-check-input(type="checkbox", value="Ter lugares confortáveis para aproveitar em grupo", name="melhora-espaco-trabalho-estudo")
					label.form-check-label(for="trabalho-estudo-ligares-conf") Ter lugares confortáveis para aproveitar em grupo
				.form-check
					input#trabalho-estudo-manutencao.melhora-espaco-trabalho-estudo.form-check-input(type="checkbox", value="Manutenção mais frequente", name="melhora-espaco-trabalho-estudo")
					label.form-check-label(for="trabalho-estudo-manutencao") Manutenção mais frequente
				.form-check
					input#trabalho-estudo-aparelhos.melhora-espaco-trabalho-estudo.form-check-input(type="checkbox", value="Instalar aparelhos e áreas específicas para crianças, idosos, academias, pistas, quadras, animais e/ou outros ", name="melhora-espaco-trabalho-estudo")
					label.form-check-label(for="trabalho-estudo-aparelhos") Instalar aparelhos e áreas específicas para crianças, idosos, academias, pistas, quadras, animais e/ou outros 
			.col-6.col-sm-4
				.form-check
					input#trabalho-estudo-proibir-festas.melhora-espaco-trabalho-estudo.form-check-input(type="checkbox", value="Proibir festas, sons ou atividades (todas ou algumas)", name="melhora-espaco-trabalho-estudo")
					label.form-check-label(for="trabalho-estudo-proibir-festas") Proibir festas, sons ou atividades (todas ou algumas)
				.form-check
					input#trabalho-estudo-tirar-grade.melhora-espaco-trabalho-estudo.form-check-input(type="checkbox", value="Tirar grades ou barreiras de acesso ao espaço", name="melhora-espaco-trabalho-estudo")
					label.form-check-label(for="trabalho-estudo-tirar-grade") Tirar grades ou barreiras de acesso ao espaço
				.form-check
					input#trabalho-estudo-mais-comercio.melhora-espaco-trabalho-estudo.form-check-input(type="checkbox", value="Mais feiras e pontos de comércio", name="melhora-espaco-trabalho-estudo")
					label.form-check-label(for="trabalho-estudo-mais-comercio") Mais feiras e pontos de comércio
				.form-check
					input#melhoraespacotrabalho-outro.melhora-espaco-trabalho-estudo.form-check-input(type="checkbox", value="outro", name="melhora-espaco-trabalho-estudo")
					label.form-control-label(for="melhoraespacotrabalho-outro") Outras vivências em uma palavra?
						input#melhoraespacotrabalho-outro-input.form-control(name="melhora-espaco-trabalho-estudo", placeholder="Quais?")
		include ../slider-controls