.question-wrapper.carousel-item.secao-3.quemmoratrabalhaestuda
	.question
		p.enunciado O que você costuma fazer quando sai para curtir* em São Paulo?
		p.explain Não é obrigatório responder, mas é muito importante para a pesquisa! Pode usar só palavras-chave, é rápido!
		.form-group
			input.form-control(type="text",name="o-que-voce-costuma-fazer-moratrabalhaouestuda")
		include ../slider-controls