.question-wrapper.carousel-item.secao-3.quemmoratrabalhaestuda
	.question
		p.enunciado Porque você não sai mais vezes para curtir* em São Paulo?
		p.explain Não é obrigatório responder, mas é muito importante para a pesquisa! Pode usar só palavras-chave, é rápido!
		.form-group
			input.form-control(type="text",name="pq-nao-sai-mais-moratrabalhaouestuda", placeholder="|")
		
		.obs * Tempo livre, atividades sociais, culturais, esportivas, lazer, etc.
		include ../slider-controls