.question-wrapper.carousel-item.quemnenhum.secao-3
	.question
		p.enunciado Nos últimos três meses, com que frequência você foi à cidade de São Paulo?
		.form-group.form-check-group
			.form-check
				input#quase-todo-dia-spnenhum.frequencia-lazer.form-check-input(type="radio", value="5 a 7", name="frequencia-visita-sp", required)
				label.frequencia-lazer-label.form-check-label.frequencia-lazer-label(for="quase-todo-dia-spnenhum") 5 a 7 vezes por semana
			.form-check
				input#finais-de-semana-spnenhum.frequencia-lazer.form-check-input(type="radio", value="2 a 4", name="frequencia-visita-sp", required)
				label.frequencia-lazer-label.form-check-label.frequencia-lazer-label(for="finais-de-semana-spnenhum") 2 a 4 vezes por semana
			.form-check
				input#saio-pouco-spnenhum.frequencia-lazer.form-check-input(type="radio", value="1 por semana", name="frequencia-visita-sp", required)
				label.frequencia-lazer-label.form-check-label.frequencia-lazer-label(for="saio-pouco-spnenhum") Uma vez por semana
			.form-check
				input#saio-muito-pouco-spnenhum.frequencia-lazer.form-check-input(type="radio", value="1 a cada 2 semanas", name="frequencia-visita-sp", required)
				label.frequencia-lazer-label.form-check-label.frequencia-lazer-label(for="saio-muito-pouco-spnenhum") Uma vez a cada duas semanas
			.form-check
				input#saio-muito-pouco-mesmo-spnenhum.frequencia-lazer.form-check-input(type="radio", value="1 por mes ou menos", name="frequencia-visita-sp", required)
				label.frequencia-lazer-label.form-check-label.frequencia-lazer-label(for="saio-muito-pouco-mesmo-spnenhum") 1 vez por mês ou menos
		include ../slider-controls