.question-wrapper.carousel-item.secao-3.quemnenhum
	.question
		p.enunciado O que você costuma fazer em São Paulo?
		p.explain Pode usar só palavras-chave, é rápido!
		.form-group
			input.form-control(type="text",name="o-que-costuma-fazer-spnenhum")
		include ../slider-controls