.question-wrapper.carousel-item.secao-3
	.question
		p.enunciado Se tiver algum comentário ou reflexão, escreva aqui:
		.form-group
			textarea.form-control(type="text",name="comentario-reflexao")
		include ../slider-controls