.img-right.img-right-reflexao
.question-wrapper.carousel-item.secao-3.not-required.reflexao
	.question
		.row
			.col-md-6.col-lg-4
				p.enunciado Se tiver algum comentário ou reflexão, escreva aqui:
				.form-group
					textarea.textinput.form-control(type="text",name="comentario-reflexao")

				button.btn.btn-lg.btn-primary(type="submit") Enviar
		include ../slider-controls