.question-wrapper.carousel-item.secao-3.quemmoratrabalhaestuda
	.question
		p.enunciado Quais são seus espaços públicos* favoritos de São Paulo?
		p.explain Nos espaços abaixo, escreva o nome/apelido ou dê indicações de onde fica (perto de que rua ou ponto de referência)!
		h6.ranking 1.
		.form-group
			input.form-control(type="text",name="favorito1", placeholder="|")
		.form-group
		h6.ranking 2.
			input.form-control(type="text",name="favorito2", placeholder="|")
		.form-group
		h6.ranking 3.
			input.form-control(type="text",name="favorito3", placeholder="|")
		include ../slider-controls